<div id='trapezoid'>
  <div class='content-wrapper' {{on 'click' this.centerMap}}>
    <span id='center-map'>
      <i class='fal fa-map-marker-alt'></i>
    </span>
    <span class='footer-symbol-text'>
      Zentrieren
    </span>
  </div>
  <div class='content-wrapper' {{on 'click' this.filterLocation}}>
    <span id='filter'>
      <i class='fal fa-filter'></i>
    </span>
    <span class='footer-symbol-text'>
      Filter
    </span>
  </div>
  <div class='content-wrapper' {{on 'click' this.bookmark}}>
    <span id='bookmark'>
      <i class='fal fa-star'></i>
    </span>
    <span class='footer-symbol-text'>
      Favoriten
    </span>
  </div>
  <div class='content-wrapper' {{on 'click' this.search}}>
    <span id='search'>
      <i class='fal fa-search'></i>
    </span>
    <span class='footer-symbol-text'>
      Suche
    </span>
  </div>
</div>