<div class='grid-container'>

  <div class='grid-child red'>
    <Track-info-sidebar />
  </div>
  <div class='grid-child blue'>
    <Train-info-sidebar />
  </div>
  <div class='grid-child yellow'>
    <Settings-sidebar />
  </div>
  <Map />
</div>